@use './variables' as v;

.sidebar{
    background-color: v.$color1;
    color: v.$color6;
    font-family: 'Hammersmith One', sans-serif;
    display: flex;
    width: 100%;
    align-items: center;

    &__logo{
        padding: 30px;
        font-size: 30px;
    }

    ul{
        font-family: 'Jost', sans-serif;
        list-style: none;
        gap: 1rem;
        display: flex;
        justify-content: center;
    }

    li{
        margin-inline-start: 100px;
    }

    li p:hover{
        font-size: 20px;
    }
    
    a{
        text-decoration: none;
        color: v.$color6;
        font-size:  20px;
    }
}